body{
  display: grid;
  justify-content: center;
  align-content: center;
  background: #1E2460;
  color:#d7d7d7;
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
}

.github{
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: top;
  width: 10rem;
  height: 10rem;
  right: -80px;
  top: -80px;
  transform-origin: center center;
  transform: rotate(-135deg);
  transition-duration: .5s;
  border-top: 2px solid #d7d7d7
}
.github a:visited{
  color: #d7d7d7;
}
.github:hover{
  transition-duration: .5s;
  background: #d7d7d7;
  cursor: pointer;
}

.github:hover a{
  color: black;
}

.fa-github{
  font-size: 4rem;
}

.container{
    width: 20rem;
    height: 25rem;
    display: grid;
    justify-self: center;
    align-self: center;
}
#restart-game{
  border: 1px solid #d7d7d7;
  background-color: transparent;
  color: #d7d7d7;
  padding: .5rem;
  border-radius: 15px;
  transition-duration: .3s;
}   
#restart-game:hover{
  background: #d7d7d7;
  color: black;
} 
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  width: 33.333%;
  border: 6px solid #d7d7d7;
}
td::after {
  content: "";
  display: block;
  margin-top: 100%;
}
td {
   border: 6px solid #d7d7d7;
   transition-duration: .3s;
}
td:hover{
    background-color: #d7d7d770;
    transition-duration: .3s;
}
.squareX::before{
  content:"x";
  position: absolute;
  font-size: 5rem;
  margin-left: 29px;
  margin-top: -7px;
  animation-name: bounceIn;
  animation-duration: .75s;
}
.squareO::before{
  content:"o";
  position: absolute;
  font-size: 5rem;
  margin-left: 29px;
  margin-top: -5px;
  animation-name: bounceIn;
  animation-duration: .75s;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
      }
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
footer{
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 75px;
}
footer a{
  color: #d7d7d7;
}